.container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px -8px 20px 6px rgba(0,0,0,0.9); 
  box-shadow: 0px -8px 20px 6px rgba(0,0,0,0.9);
}

.a {
  text-decoration: none;
  color: #fafafa;
}

.a:hover {
  color: #fafafa;
}

.imgpc {
  max-width: 100%;
}

.imgcl {
  max-width: 0%;
}

.list {
  width: 100%;
  padding: 0;
}

.list a {
  color: rgb(83, 95, 85);
  text-decoration: none;
}

.list ul {
  list-style-type: none;
  padding: 0 20px;
}

.list li {
  margin-top: 15px;
  font-size: x-large;
  border-bottom: 2px rgb(212, 212, 212) solid;
  color: rgb(83, 95, 85);
}

.list li:hover {
  cursor: pointer;
  border-color: rgb(80, 80, 80);
  color: rgb(0, 0, 0);
}

/* contatos */

.conta {
  width: 100%;
  height: 600px;
}

.conta .forms1 {
  width: 100%;
  max-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.forms1 .forms2 {
  width: 35%;
  max-height: 400px;
}

.input {
  height: 150px;
}

.forms1 .bot {
  display: grid;
  grid-template-columns: 35% 30% 35%;
}

.bot .bot1 {
  width: 100%;
  height: 45px;
}
/* contatos */

/* slides */

.slids {
  width: 100%;
  margin-top: 72px;
}

.slidspc {
  width: 100%;
}

.slidscl {
  width: 0;
}

.lat {
  transition: 0.45s;
}
/* slides */
/* apresentacao */

.casimg {
  width: 100%;
}

.row {
  width: 90%;
  border: none;
}

.car {
  border: none;
  -webkit-box-shadow: 0px 10px 18px -7px rgba(0,0,0,0.9); 
  box-shadow: 0px 10px 18px -7px rgba(0,0,0,0.9);
}

.car img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* apresentacao */

.app {
  position: fixed;
  z-index: 2;
  width: 60px;
  height: 60px;
  right: 0;
  bottom: 0;
  margin: 20px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.8); 
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.8);
}

.app img {
  max-width: 100%;
}
/* corpo */

.main {
  padding: 5vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maini {
  padding: 5vh 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.corpo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainx {
  padding: 5vh 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
/* corpo */
/* exp */

.doc {
  border: none;
  cursor: pointer;
}
.doc :hover {
  border-bottom: solid #eeeeee;
}

.doc a:hover {
  border: none;
}
/* exp */
/* footer */

.footer {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: space-around;
  align-items: center;
  color: #fafafa;
  background-color: #1f1f1f;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.ima {
  width: 15%;
}

.ima .imgpc {
  width: 100%;
  height: auto;
}

.footer ul {
  list-style-type: none;
  list-style-position: inherit;
}
/* footer */
.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (min-width: 2400px) {
  .font {
    font-size: xx-large;
  }

  .font1 {
    font-size: x-large;
  }
  
  .app {
    width: 100px;
    height: 100px;
  }

  .forms1 .forms2 {
    width: 25%;
    max-height: 400px;
  }

}

@media (min-width: 1400px) {
  .row {
    width: 80%;
    border: none;
  }  
  
  .app {
    width: 80px;
    height: 80px;
  }

  .forms1 .forms2 {
    width: 25%;
    max-height: 400px;
  }

  .forms1 .bot {
    display: grid;
    grid-template-columns: 35% 30% 35%;
  }

}

@media (max-width: 800px) {
  .app {
    width: 70px;
    height: 70px;
  }
  
  .slids {
    margin-top: 84px;
  }
  
  .casimg {
    width: 100%;
  }

  .imgcl {
    max-width: 100%;
  }

  .imgpc {
    display: none;
  }

  .slidspc {
    display: none;
  }
  
  .slidscl {
    width: 100%;
  }

  .form {
    width: 100%; 
  }

  .row {
    flex-direction: column;
  }

  .ca {
    width: 100%;
    margin-bottom: 30px;
  }

  .conta {
    width: 100%;
    height: 600px;
  }

  .forms1 .forms2 {
    width: 85%;
    max-height: 400px;
  }

  .forms1 .bot {
    display: grid;
    grid-template-columns: 35% 30% 35%;
  }

}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
}